*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

#navi{
    text-align: left;
    background-color: #f4f4f4;
    text-indent: 1px;
    padding: 30px;
    font-weight: bold;
    word-spacing: 7px;
    letter-spacing: 6px;
}

#catlogo{
    width: 10%;}

#navi > a{
    text-decoration: none;
    color:#433533;}

#navi>a:hover{
    color:#a8836d;}

/* #banner{
    background-color: #455842;
    background-repeat: no-repeat;
    padding: 30px;
    font: 40px Georgia, bold; 
    text-align: center;  } */

/* #banner h3{
    color: #d4d4cb;
    padding: 2%;
    margin-top: 40px;
    font-size:1.5em;
    /* font-family: 'Roboto', sans-serif;
    font-weight: 300; */
    /* margin-right: 55px;} */ 


.companyimg{
    background-image: url(./image/pexels-barcelona-albertus-1924951.jpg);
    background-size:cover;
    background-color: #ececec;
    padding: 30px;
    /* overflow:hidden; */
   
}

#welcome{
    color:#ececec;
    font: 80px Lucida Handwriting, bold; 
    text-align: left; 
}

.text{
    background-color: grey;
    opacity: .6; 
    width: 50%;
}

.companyimg .text{
padding: 80px;
margin-top:1880px;
margin-left:20px;
}

.companyimg .text h1 {
    font-size: 2.9em;
    font-weight: bold;
    color: (93, 133, 93);
    opacity: 100%;
}

.companyimg .text p{
    color: #ececec;
    font-size: 1.3em;
    /* text-align: center; */
    
}


.pricelist{
    background-color: #f4f4f4;
    padding:100px;
    column-count: 2;}


    /* background-color: #f4f4f4; */
    /* padding:20px */
    /* margin-bottom: 20px;  */
    /* text-align: center;} */



.row {
    /* display: table; */
    /* clear: both; */
    /* margin-top:90px; */
    /* margin-bottom:-30px; */
    /* flex-direction: column; */
    display: flex;
}
 

#review h1{
    margin-top:7px;
    margin-top: 256px;
   padding: 20%;}

.image-container{
    max-width:100%;
    overflow: hidden;
    margin-top:-400px;
    margin-left: 8px;}

#column2{
    max-width: 100%;
    display:block;
    margin-left: 10px;
    padding-top: 950px;}





h1{
    color:#433533;
    font-size: 40px;}

h3{
    font-size:25px;
    color: #a99317;}

h5{
    color:rgb(93, 133, 93) ;
    margin-left: 6px;
    text-align: bottom;}

.column {
    width: 50%;
    padding: 10px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100%; 

}
 
.row{
    margin-top: 3px;
    margin-bottom: -70px;}  


#holiday{
 font-size: 20px;
 padding-left:70px;
 padding-right: 70px;
 max-width: 100%;

}



li{
    color: #bdafae;
    text-align: center;}


footer{
    padding:80px;
    /* padding-top: 120px; */
    background-color: #cfc5c4;
    /* position: relative;} */
    /* bottom: -70px;} */}

.footernav{
   /* padding-top: 0rem; */
   /* letter-spacing: -1px; */
   /* word-spacing: 4px; */
  margin-top:40px;
  margin-bottom: -80px;
  text-align: center;}

  #adress{
      color:#455d41;
  }

  #emailc {
      color:#9daaa8;
  }




h2{
    color:#362b29;}

h4{
    color:#ccb73e;}

